.navbar{
	z-index: -1;
	min-width: 260px;
	max-width: 260px;
	min-height: 500px;
	max-height: 500px;
	
}

.color{
	color: inherit;
	color: white;
}

.li{
	list-style-type: none;
}

.cover-bg{
	width: 100%;
}

.portofolio-navbar{
	height: 45px;
	width: 115px;
}

.container-size-500{
	height: 500px;
	max-width:950px ;
}

.slider-index{
	z-index: -2;
}

.opacity-09{
	opacity: 0.9;
}

.img-profile{
	width: 160px;
	height: 160px;
}

.button-size{
	width: 110px;
}

.work-img{
	width: 365px;
	height: 200px;
}

.size-img{
	width: 450px;
	height: 230px;
}